apiVersion: apps/v1
kind: Deployment
metadata:
  name: smart-appointment-db
spec:
  selector:
    matchLabels:
      app: smart-appointment-db
  replicas: 1
  template:
    metadata:
      labels:
        app: smart-appointment-db
    spec:
      containers:
      - name: postgres
        image: postgres:15
        env:
        - name: POSTGRES_DB
          value: "appointmentdb"
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_PASSWORD
          value: "postgres"
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: db-data
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: db-data
        persistentVolumeClaim:
          claimName: db-pvc
